<div class="searchbar">

  <form method="get" action="/results">
        <input type="text" class="searchbox" name="location" value=" Neighborhood or address, city, state" onFocus="this.value=''">
        <ul class="cravings-buttons">
          <li><button>Bloodies</button></li>
          <li><button>Mimosas</button></li>
          <li><button>Eggs</button></li>
          <li><button>French Toast</button></li>

          <li><button>Just Find Brunch</button><li>
        </ul>
  </form>
</div>