<div id="photogrid">
  <ul>
    <% @instagram.first(20).each do |instagram| %>
       <li> <%= image_tag instagram.images.low_resolution.url %><li>
        <% end %>
  </ul>
</div>

<div class="searchbkg">
  <div class="searchbox"><br>
    <h2>Enter your location then click your craving</h2>
    <form method="get" action="/results">
    <input type="text" class="searchbar" id="geolocale" autosave="saveval" name="location">

      <label>Latitude</label>
      <input name="lat" type="hidden">

      <label>Longitude</label>
      <input name="lng" type="hidden">

      <label>Name</label>
      <input name="name" type="hidden">

          <ul class="cravings-buttons">
            <li><input class="button brown left" name="search_type" type="Submit" value="Bloodies"></li>
            <li><input class="button brown middle" name="search_type" type="Submit" value="Mimosas"></li>
            <li><input class="button brown middle" name="search_type" type="Submit" value="Eggs"></li>
            <li><input class="button brown right" name="search_type" type="Submit" value="Pancakes"></li>
          </ul>
          <input type="submit" class="button brown lonely" name="search_type" value="I want it all!">
    </form>
  </div>
</div>
<script type="text/javascript"src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script>
$(function() {
  $("#geolocale").geocomplete({
    details: "form"});

  // Trigger geocoding request.
  $("Submit").click(function(){
    $("#geolocale").trigger("geocode");
  });
});
</script>