<div class="searchbar">

  <form method="get" action="/brunch_finders/results">
        <input type="text" class="searchbox" name="<% @location %>" value=" Neighborhood or address, city, state">
        <ul class="cravings-buttons">
          <li><input type="button" value="Bloodies"></li>
          <li><input type="button" value="Mimosas"></li>
          <li><input type="button" value="Eggs"></li>
          <li><input type="button" value="French Toast"></li>

          <li><input type="button" value="Just find me brunch" id="submit"><li>
        </ul>
  </form>
</div>