<div class="searchbkg">
  <div class="searchbox">
    <form method="get" action="/results">
      <h1>Where do you want to brunch?</h1>
      <input type="text" class="searchbar" id="geolocale" autosave="saveval" name="location">
        <input name="lat" type="hidden">
        <input name="lng" type="hidden">
        <input name="name" type="hidden">
      <input  class="lonely button" name="search_type" type="submit" value="Find me brunch">
    </form>
  </div>
</div>


<script type="text/javascript"src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script>
$(function() {
  $("#geolocale").geocomplete({
    details: "form"});

  // Trigger geocoding request.
  $("Submit").click(function(){
    $("#geolocale").trigger("geocode");
  });
});
</script>