<div class="searchbar">

  <form method="get" action="/results">
        <input type="text" class="searchbox" autosave="saveval" name="location" placeholder="Enter a neighborhood...">
        <ul class="cravings-buttons">
          <li><input type="submit" name="search_type" value="Bloodies"></li>
          <li><input type="submit" name="search_type" value="Mimosas"></li>
          <li><input type="submit" name="search_type" value="Eggs"></li>
          <li><input type="submit" name="search_type" value="French Toast"></li>
        </ul>
        <input type="submit" name="search_type" value="Just Find Me Brunch">

  </form>
</div>