<h1>BrunchFinders#index</h1>
<p>Find me in app/views/brunch_finders/index.html.erb</p>

<div class="searchbar">
  <form>
      <span><input type="text" class="searchbox" value="Neighborhood, address, city"><input type="button" value="Search"></span>
  </form>
</div>