<div class="searchbar">

  <form method="get" action="/results">
        <input type="text" class="searchbox" autosave="saveval" name="location" placeholder="Enter a neighborhood...">
        <ul class="cravings-buttons">
          <li><button name="bloodies">Bloodies</button></li>
          <li><button name="mimosas">Mimosas</button></li>
          <li><button name="eggs">Eggs</button></li>
          <li><button name="frenchtoast">French Toast</button></li>
        </ul>
        <button name="brunch">Just Find Me Brunch</button>
  </form>
</div>