<h1>BrunchFinders#index</h1>
<p>Find me in app/views/brunch_finders/index.html.erb</p>

Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>Yo Yo Yo
<br> <br>
