<h2>Your best picks in <%= @location.capitalize %></h2>
<!--Need to show icon if they serve bloodies and/or mimosas-->
<div
<ul>
  <% @j.first(10).each do |key, value| %>
  <li class="nostyle"><a href="<%= value[:url] %>"><%= key %></a>    <%= value[:phone] %>  </li>

<% end %>
</ul>