<h1>BrunchFinders#results</h1>
<p>Find me in app/views/brunch_finders/results.html.erb</p>

<!--Need to show icon if they serve bloodies and/or mimosas-->
<% get_bloodies.each do |y| %>

 <li><%= y[:name] %></li>
 <li><%= y[:neighborhoods] %></li>
 <li><%= y[:address] %></li>

<% end %>