<h1>BrunchFinders#results</h1>
<p>Find me in app/views/brunch_finders/results.html.erb</p>

<!--Need to show icon if they serve bloodies and/or mimosas-->
<ul>
  <% @s.first(2).each do |i| %>

 <li><%= name %></li>
 <li><%= distance %></li>
 <li><%= display_phone %></li>

<% end %>
</ul>