<!DOCTYPE html>
<html>
<head>
  <title>Brunchover</title>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Pacifico|Marmelad|Averia+Libre'|PT+Sans+Caption:400,700'' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<div class="wrapper">
  <div class="sticky-bar">
    <span a class="brunch_title" href="/">Brunchover</a></span>
  </div>
</div>

<body>
  <div class="resultsPage">
    <%= yield %>
  </div>
</body>

</html>
