<!DOCTYPE html>
<html>
<head>
  <title>Brunchover</title>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Pacifico|Marmelad|Averia+Libre' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<div class="wrapper">
  <div class="sticky-bar">
    <a class="brunch_title" href="/">Brunchover</a>
  </div>
</div>

<body>
  <div class="body">
    <%= yield %>
  </div>

</body>

</html>
