<!DOCTYPE html>
<html>
<head>
  <title>Brunchover</title>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Pacifico|Marmelad|Averia+Libre'|PT+Sans+Caption:400,700'' rel='stylesheet' type='text/css'>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="resultsPage">
    <%= yield %>
  </div>
</body>
</html>
